In [2]:
%matplotlib inline 
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# 輸入資料一

In [68]:
df = pd.read_html('http://www.8pu.com/gdp/ranking_2019.html')

In [69]:
df = df[0]

In [70]:
df.head()

  GDP总量排名 国家名称       单位亿美元    GDP总量(人民币亿元)   GDP总量(人民币亿元).1    地区
0    排名第1   美国  $210244.2亿  ￥1368689.742亿元  壹佰叁拾陆万捌仟陆佰捌拾玖亿元  美洲国家
1    排名第2   中国  $142433.7亿   ￥927243.387亿元    玖拾贰万柒仟贰佰肆拾叁亿元  亚洲国家
2    排名第3   日本     $52053亿    ￥338865.03亿元    叁拾叁万捌仟捌佰陆拾伍亿元  亚洲国家
3    排名第4   德国   $40742.3亿   ￥265232.373亿元    贰拾陆万伍仟贰佰叁拾贰亿元  欧洲国家
4    排名第5   印度   $29262.4亿   ￥190498.224亿元     壹拾玖万零肆佰玖拾捌亿元  亚洲国家

In [71]:
df_rank = df[['GDP总量排名','国家名称','地区']]

In [72]:
df_rank[df_rank.地区=="亚洲国家"].head()

   GDP总量排名   国家名称    地区
1     排名第2     中国  亚洲国家
2     排名第3     日本  亚洲国家
4     排名第5     印度  亚洲国家
10   排名第11     韩国  亚洲国家
15   排名第16  印度尼西亚  亚洲国家

# 輸入資料二

In [73]:
df1 = pd.read_html('http://www.8pu.com/gdp/per_capita_gdp_2019.html')

In [74]:
df1 = df1[0]

In [75]:
df1.head()

  人均GDP排名 国家名称     人均GDP单位美元      人均GDP人民币元
0    排名第1  卢森堡  $117160.71美元  ￥7627162.221元
1    排名第2   澳门   $92492.19美元  ￥6021241.569元
2    排名第3   冰岛   $89388.88美元  ￥5819216.088元
3    排名第4   瑞士   $84665.28美元  ￥5511709.728元
4    排名第5  爱尔兰   $77742.08美元  ￥5061009.408元

In [76]:
df1_rank = df1[['人均GDP排名','国家名称',]]

In [77]:
df1_rank[df1_rank.国家名称=="美国"]

  人均GDP排名 国家名称
7    排名第8   美国

# 比較資料

In [80]:
df_rank[df_rank.国家名称==input("請輸入欲查詢人均GDP之國家:")]

請輸入欲查詢人均GDP之國家:瑞士

   GDP总量排名 国家名称    地区
19   排名第20   瑞士  欧洲国家

In [81]:
df1_rank[df1_rank.国家名称==input("請輸入欲查詢GDP總量之國家:")]

請輸入欲查詢GDP總量之國家:瑞士

  人均GDP排名 国家名称
3    排名第4   瑞士