# 11/7 台灣食品股票

In [38]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [39]:
df = pd.read_html('https://tw.stock.yahoo.com/s/list.php?c=%AD%B9%AB%7E&rr=0.61382800%201572407080',encoding='big5')

In [40]:
df = df[2]

In [41]:
df.drop("選擇",axis=1,inplace=True)

In [42]:
df.head()

,股票代號,時間,成交,買進,賣出,漲跌,張數,昨收,開盤,最高,最低
0,1201 味全,14:30,25.60,25.60,25.65,▽0.50,2178,26.10,26.00,26.00,25.35
1,1203 味王,13:30,27.60,27.60,27.65,△0.20,233,27.40,27.40,27.70,27.40
2,1210 大成,14:30,38.20,38.20,38.25,△0.60,3421,37.60,37.70,38.55,37.65
3,1213 大飲,10:41,6.41,5.92,6.32,△0.32,6,6.09,5.74,6.41,5.74
4,1215 卜蜂,13:30,65.00,65.00,65.30,0.00,1916,65.00,65.10,66.10,64.90

## 分析股票的高點

In [51]:
df_high = df[["股票代號","最高"]]

In [58]:
df_high = df_high.sort_values("最高",ascending=False)

In [59]:
df_high.head()

            股票代號     最高
19  1256 鮮活果汁-KY  218.0
14      1232 大統益  125.5
5        1216 統一   75.1
4        1215 卜蜂   66.1
11       1227 佳格   62.3

## 增加欄位,分析高低點

In [65]:
df["相差"] = df.最高 - df.最低

In [67]:
df_Sub = df[["股票代號","最高","最低","相差"]]

In [68]:
df_Sub.sort_values("相差",ascending=False).head()

            股票代號      最高     最低    相差
19  1256 鮮活果汁-KY  218.00  214.0  4.00
17       1235 興泰   30.75   29.2  1.55
14      1232 大統益  125.50  124.0  1.50
4        1215 卜蜂   66.10   64.9  1.20
5        1216 統一   75.10   74.0  1.10