# 世界生育率概況

In [24]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## 輸入資料

In [25]:
df = pd.read_html('https://www.cia.gov/library/publications/resources/the-world-factbook/fields/356rank.html')

In [26]:
df = df[0]

In [45]:
df.head(6)

   Rank  Country  (children born/woman) Date of Information
0     1    Niger                   6.35           2018 est.
1     2   Angola                   6.09           2018 est.
2     3  Burundi                   5.93           2018 est.
3     4     Chad                   5.90           2018 est.
4     5     Mali                   5.90           2018 est.
5     6  Somalia                   5.70           2018 est.

## 查詢名次

In [51]:
df[df.Rank > int(input("輸入想從排名第幾開始:"))].head(int(input("總共想查幾個:")))

輸入想從排名第幾開始:8
總共想查幾個:3

    Rank      Country  (children born/woman) Date of Information
8      9       Malawi                   5.43           2018 est.
9     10  South Sudan                   5.34           2018 est.
10    11  Afghanistan                   5.02           2018 est.

## 個別搜尋

In [52]:
df_rank = df[["Country","Rank","(children born/woman)"]]

In [53]:
df_rank[df_rank.Country=="France"]

    Country  Rank  (children born/woman)
105  France   106                   2.06

In [55]:
df_rank[df_rank.Country==input(">>")]

>>Taiwan

    Country  Rank  (children born/woman)
221  Taiwan   222                   1.13